.Button {
  all: unset;
  display: inline-block;
  box-sizing: border-box;
  width: 25%;
  height: 100%;
  font-size: 1.5em;
  font-weight: 500;
  text-align: center;
  color: #000;
  background-color: #f5913e;
  border: 1px solid #bdbdbd;
}

.Button:hover {
  opacity: 85%;
}

.btn-wide {
  width: 50%;
}

.light-gray {
  background-color: #e0e0e0;
}
